<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UserName" value="WSUser" />
    <add key="Password" value="PACEPartner!588" />
    <add key="CorpName" value="ifdsgroup" />
    <add key="UserId" value="WSUser" />
    <add key="PACEPartnerLOIDURL" value="https://ifdsgroup.csod.com/LMS/LoDetails/DetailsLo.aspx" />
    <add key="Signature" value="A0FA4EE61FCA9B5C939F51E40A1AFE22C080F374" />
    <add key="connectionString" value="Integrated Security=SSPI;Persist Security Info=True;server=CAD2CA1VSPW02;Initial Catalog=ExternalSystems" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GetDetailsWebServiceSoap" maxBufferPoolSize="20975152"
                    maxReceivedMessageSize="20975152">
                  <security mode="Transport">
                    <transport clientCredentialType="Basic" />
                  </security>
                </binding>
                <binding name="GetDetailsWebServiceSoap1" />
                <binding name="CatalogwebserviceSoap" maxBufferPoolSize="20975152"
                    maxReceivedMessageSize="20975152">
                  <security mode="Transport">
                    <transport clientCredentialType="Basic" />
                  </security>
                </binding>
                <binding name="CatalogwebserviceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws-ifdsgroup.csod.com/webservices/catalog/getdetailswebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="GetDetailsWebServiceSoap"
                contract="PACEPartnerServiceDetails.GetDetailsWebServiceSoap"
                name="GetDetailsWebServiceSoap" />
            <endpoint address="https://ws-ifdsgroup.csod.com/webservices/catalog/catalogwebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="CatalogwebserviceSoap"
                contract="PACEPartnerService.CatalogwebserviceSoap" name="CatalogwebserviceSoap" />
        </client>
    </system.serviceModel>
</configuration>