<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sUserName" value="if880137" />
    <add key="sPassword" value="ifdskb" />
    <add key="ClientID" value="12" />
    <add key="PortalID" value="5" />
    <add key="ConnectionString" value="Integrated Security=SSPI;Persist Security Info=True;server=CAD2CA1VSPW02;Initial Catalog=ExternalSystems" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
              <binding name="WSHttpBinding_IKBService1" maxBufferPoolSize="20975152"
                    maxReceivedMessageSize="20975152">
                <security mode="Transport">
                  <transport clientCredentialType="Basic" />
                </security>
              </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            
            <endpoint address="https://kbapi-ifds.kb.net/KBService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IKBService1" contract="KnowledgeBaseService.IKBService"
                name="WSHttpBinding_IKBService1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>