<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Username" value="DSTCORFAX\\guest137" />
    <add key="Password" value="Periyava1234!"/>
    <add key="TopContributors-GlobalList" value="TopContributors-Global"/>
    <add key="KMDepartmentMasterList" value="KMPortal Department Sites"/>
    <add key="SiteURL" value="https://sharepoint-web.gtm.canada01.ifdsnet.int/"/>
  </appSettings>
</configuration>